#sidebar, tooltip {
	max-width: none !important;
}
/*full toolbars with description margin fix */
.ODPExtension-description {
	border-color: transparent !important;
	-moz-appearance: none;
}
.ODPExtension-description:active {
	padding: inherit;
	margin: inherit;
}
.ODPExtension-toolbarbutton {
	padding-left: 4px;
}
#urlbar-icons > .ODPExtension-toolbarbutton {
	visibility: visible !important;
}
/* simluate toolbarbutton for urlbar icons*/
#urlbar-icons > .ODPExtension-toolbarbutton[collapsed="true"] {
	display: none !important;
}
/* crop very large/short menuitems. ( not so large and not so short) */
.ODPExtension-crop,
.ODPExtension-crop > menuitem ,
.ODPExtension-crop > menuitem > menupopup ,
.ODPExtension-crop > menuitem > menupopup > menuitem ,
.ODPExtension-crop > menu ,
.ODPExtension-crop > menu > menupopup ,
.ODPExtension-crop > menu > menupopup > menuitem ,
.ODPExtension-crop > menupopup ,
.ODPExtension-crop > menupopup > menuitem {
	max-width: 100%;
}
menu[direction="rtl"],
menuitem[direction="rtl"],
toolbarbutton[direction="rtl"],
menupopup[direction="rtl"],
description[direction="rtl"],
label[direction="rtl"] {
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}
menu[direction="ltr"],
menuitem[direction="ltr"],
toolbarbutton[direction="ltr"],
menupopup[direction="ltr"] {
	direction: ltr;
	unicode-bidi: embed;
}
/*close button */
.ODPExtension-toolbarbutton-close {
	list-style-image: url("img/close.png");
	-moz-appearance: none;
	-moz-image-region: rect(0, 64px, 16px, 48px);
	border: none;
	padding: 4px;
}
.ODPExtension-toolbarbutton-close:hover {
	list-style-image: url("img/close.png");
	-moz-image-region: rect(0, 32px, 16px, 16px);
}
.ODPExtension-toolbarbutton-close:active {
	list-style-image: url("img/close.png");
	-moz-image-region: rect(0, 48px, 16px, 32px);
}