@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/open-sans.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/open-sans.woff) format('woff');
}
@font-face {
	font-family: 'Flat-UI-Icons';
	font-style: normal;
	font-variant: normal;
	src: url(fonts/Flat-UI-Icons.woff) format('woff');
}
body {
	font-family: "Verdana", Times, serif;
	padding: 0;
	margin: 0;
	border: 0;
	overflow-y: scroll;
	unicode-bidi:embed;
}
.clear {
	float: none;
	clear: both;
	display: block;
}
.click {
	cursor: pointer;
	text-decoration: underline !important;
	color: inherit;
}
.ignore {
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
	cursor: normal;
}
.not-ignore {
	-moz-user-select: normal;
	user-select: normal;
	pointer-events: all;
}
.no-selection {
	-moz-user-select: none;
	user-select: none;
	cursor: normal;
}
.inline-block {
	display: inline-block;
}
@media (max-width: 900px) {
.narrow {
	display: none;
}
}

.rtl{
	direction: rtl;

}
pre{
	max-width: 99%;
}
.icons {
	font-family: 'Flat-UI-Icons';
	color: rgba(0, 0, 0, 0.6);
	opacity: .7;
	font-size: .9em;
}
.icons span {
	margin: 0px 2px 0px 1px;
	width: 32px;
}
.icons .deleted:before {
	content: "\e032";
	color: red;
}
.icons .unreviewed:before {
	content: "\e011";
}
.icons .reviewed:before {
	content: "\e000";
	color: green;
}
table {
	table-layout: fixed;
	width: 100%;
	word-break: break-all;
}
/* sidebar */
.sidebar {
	max-width: 15%;
	position: fixed;
	right: 0;
	top: 31px;
	background-color: #2c3e50;
	height: 100%;
	color: white;
	border-left: 1px solid #34495e;
	box-shadow: 0px 0px 12px -2px black;
	padding-top: 7px;
}
.sidebar b {
	display: block;
	text-transform: uppercase;
	margin-left: 12px;
}
hr{
	height: 1px;
	padding: 0px;
	border: 0px none;
	background-color: gray;
}
.sidebar hr {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.sidebar ul {
	padding: 0px;
	border: 0px none;
	margin: 0px 0px 10px;
	margin-bottom: 0px;
}
.sidebar li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
	transition: background-color .6s;
}
.sidebar li, .sidebar b {
	padding-right: 10px;
}
.sidebar li:hover {
	background-color: #34495e;
}
.sidebar .menu li {
	padding: 10px;
	padding-bottom: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.sidebar .menu b {
	text-align: left;
	margin-bottom: 0px;
	margin-top: 7px;
}
.sidebar ul.menu {
	border-top: 4px solid rgba(255,255,255,.2);
	transition: all .4s;
}
.sidebar ul.menu:hover {
	border-top: 4px solid rgba(255,255,255,.5);
}
.sidebar .menu-simple li {
	padding: 0px 10px 1px;
}
.sidebar .menu-simple b {
	text-align: left;
	margin-top: 7px;
}
.sidebar ul.menu-simple {
	border-top: 4px solid rgba(255,255,255,.2);
	transition: all .4s;
	margin-bottom: 7px;
}
.sidebar ul.menu-simple:hover {
	border-top: 4px solid rgba(255,255,255,.5);
}
.sidebar ul b {
	opacity: .4;
	transition: opacity .4s;
}
.sidebar ul:hover b {
	opacity: 1;
}
.green{
	color: green;
}
.red{
	color: red;
}
/* elements genric */
h1, h2, h3, h4, h5 {
	color: rgb(85, 85, 85);
	font-family: 'Open Sans',Arial,Verdana,sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 0.5em;
	margin-left: -3px;
	margin-top: 0px;
}
/* classes generic */
.header-title {
	font-family: 'Open Sans',Arial,Verdana,sans-serif;
}
/* forms */
.textarea {
	width: 100%;
	min-height: 100px;
}
/* list */
.list table {
	border-collapse: collapse;
}
.list table tbody td {
	border: 1px solid rgba(0,0,0,.1);
	padding: 4px;
}

/* elements -> TODO -> updated me!*/

.header {
	background-color: #669933;
	color: white;
	font-family: arial;
	margin: -8px;
	padding: 18px;
	margin-bottom: 8px;
}
.collapse:before {
	content: "[+/-] ";
	cursor: pointer;
}
.informative {
	background-color: #FF9933;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 9px;
	margin-left: 0px;
	margin-top: 4px;
	border-radius: 4px;
	display: inline-block;
}
.informative a {
	color: white;
}