@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

	/*full toolbars with description margin fix */
		.ODPExtension-description
		{
			border-color:transparent !important;
			-moz-appearance: none;
		}
		.ODPExtension-toolbarbutton{
			padding-left: 4px;
			padding-right: 4px;
		}
		#urlbar-icons > .ODPExtension-toolbarbutton
		{
			visibility:visible !important;
		}

		/* simluate toolbarbutton for urlbar icons*/
			#urlbar-icons > .ODPExtension-toolbarbutton[collapsed="true"]{
				/*display:none !important;*/
			}

	/*toolbar buttons */
			#ODPExtension-toolbarbutton-toggle{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/toggle.png");}
		/*close button */
			.ODPExtension-toolbarbutton-close{list-style-image: url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/close.png");}


			#ODPExtension-toolbarbutton-category-browser{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/category-browser.png");}
		/*odp url notes*/
			#ODPExtension-toolbarbutton-odp-url-notes-update{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-update.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-unreview{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-unreview.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-delete{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-delete.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-copy-publish{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-copy-publish.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-copy-unreview{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-copy-unreview.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-move-publish{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-move-publish.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-move-unreview{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-move-unreview.png");}
			#ODPExtension-toolbarbutton-odp-url-notes-notes{list-style-image:   url("chrome://ODPExtension/content/xul/navigator/toolbars-and-toolbarbuttons/url-notes-notes.png");}

		/*category navigator*/
			#ODPExtension-toolbar-category-navigator-container{
				-moz-appearance:none;
			}
			#ODPExtension-toolbar-category-navigator-container > toolbarbutton > dropmarker{
				padding-left:7px !important;
			}

		/* crop very large/short menuitems. ( not so large and not so short) */
			.ODPExtension-crop{max-width:100%;}
			.ODPExtension-crop > menuitem{max-width:100%;}
			.ODPExtension-crop > menuitem > menupopup{max-width:100%;}
			.ODPExtension-crop > menuitem > menupopup > menuitem {max-width:100%;}
			.ODPExtension-crop > menu{max-width:100%;}
			.ODPExtension-crop > menu > menupopup{max-width:100%;}
			.ODPExtension-crop > menu > menupopup > menuitem {max-width:100%;}