body {
	background-color: rgb(210, 210, 210);
	overflow-x: hidden;
	padding-top: 53px;
	;
}
body[loading="true"] {
}
body[loading="true"] .container ,
body[loading="true"] .totals{
	display: none;
}
.loading {
	background-color: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0px auto;
	padding-top: 22%;
	color: white;
	font-size: 5em;
	padding-left: 20%;
	text-shadow: 0px 0px 14px black, 1px -2px 2px black;
	opacity: .6;
	z-index: 100;
}

.content {
	padding: 10px;
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;
	float: left;
	width: 85%;
	max-width: 85%;
	position: relative;
}
/* header */

	header {
		padding: 11px;
		background-color: rgb(194, 194, 194);
		border-bottom: 1px solid rgba(40, 70, 40, 0.1);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 90;
	}
	header .totals {
		float: right;
		color: rgb(110, 110, 100);
		font-family: 'Open Sans',Arial,Verdana,sans-serif;
		font-size: 1.1em;
		padding-right: 20px;
	}
	header .title {
		float: left;
		font-size: 1.2em;
	}
	header .categories {
		font-size: .9em;
	}

/* sidebar */

	.sidebar {
		float: right;
		width: 14.6%;
	}
	.sidebar .sort-by{
		text-align: right;
	}

	.sidebar .sync{
		background-image: url("img/sync.png");
		position: absolute;
		left: 5px;
		height: 75px;
		width: 75px;
		bottom: 56px;
		transition:all .3s;
		opacity: .5;
	}
	.sidebar .sync:hover{
		background-image: url("img/sync-colour.png");
		opacity: .7;
	}

/* pies */

	.pie-types {
		opacity: 0.9;
		float: left;
	}

/* bars */

	.bars {
		position: relative;
		box-shadow: 1px 2px 10px -5px black;
	}
	.bars .legend {
		position: relative;
		left: 9px;
		color: black;
		opacity: 0.5;
		height: 30px;
		top: -27px;
	}
	.bar {
		float: left;
		height: 30px;
		cursor: pointer;
	}

/* filters */

	.filters-container {
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: 'Open Sans';
		margin-left: 11px;
		font-size: 0.9em;
		line-height: 2.2em;
	}
	.filters .and:after {
		content: " and";
		margin-right: 1px;
		margin-left: -16px;
		font-style: italic;
		color: grey;
	}
	.filters .or:after {
		content: " or";
		margin-right: -20px;
		font-style: italic;
		color: grey;
	}
	.filters .and:last-child:after {
		content: "" !important;
	}
	.filters .or:last-child:after {
		content: "" !important;
	}
	.filters .and:empty:after {
		content: "" !important;
	}
	.filters .or:empty:after {
		content: "" !important;
	}
	.filters .current {
		background-color: transparent;
	}
	.filters .current:empty:after {
		content: "none";
		display: inline-block;
	}
	.filters .current:after {
		content: " …";
	}
	.filter {
		border: 1px solid rgb(200, 200, 182);
		padding: 3px;
		background-color: #EFEDED;
		border-radius: 1px;
		margin: 3px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		cursor: pointer;
		margin-right: 16px;
	}
	.filter .negation {
		color: red;
	}
	.filtertextbox {
		width: 89px;
		transition: width 0.3s ease 0s;
		margin-left: 20px;
		float: right;
		margin-top: 5px;
		margin-right: 1px;
		box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .4);
	}
	.filtertextbox:focus {
		width: 300px;
	}
/* list */

	.list {
		font-size: .8em;
		box-shadow: 0px 0px 12px -5px black;
		background-color: white;
	}
	.list-no-results {
		font-family: Open Sans;
		font-size: 1.7em;
		padding: 40px;
		display: none;
		transition: all 2s ease 0s;
		padding-top: 10px;
	}
	.list-no-results[results="true"] {
		display: none;
	}
	.list-no-results[results="false"] {
		display: inherit;
	}

/* entry text*/

	.item {

		background-color: rgb(252, 252, 252);
		border-left: 3px solid transparent;
		border-right:6px solid transparent;

	}
	.item.hidden,
	.item.filtered,
	.item.filtertextboxed {
		display: none;
	}
	/*action*/
	.icons .deleted,
	.icons .unreviewed,
	.icons .published{
		display: none;
	}
	.item[action="D"] .icons .deleted{
		display: inherit;
	}
	.item[action="P"] .icons .published{
		display: inherit;
	}
	.item[action="U"] .icons .unreviewed{
		display: inherit;
	}

	.item[status="red"]{
		border-right:6px solid #EB6666;
	}
	.item[status="purple"]{
		border-right:6px solid #6F6FFC;
	}
	.item[status="orange"]{
		border-right:6px solid orange;
	}
	.item[status="green"]{
		border-right:6px solid #669933;
	}
	.item[status="yellow"]{
		border-right:6px solid #FFFFCC;
	}
	.item[status="red"]{
		border-right:6px solid #EB6666;
	}

	.item .child{
		padding: 5px 5px;
		border-bottom: 1px solid rgb(238, 238, 238);
		transition: background-color .2s;
		word-wrap: break-word;
		word-break: break-all;
		position: relative;
	}
	.item:hover {
		background-color: rgb(247, 247, 247);
	}
	.item.selected {
		background-color: rgb(246, 246, 239);
		border-left: 3px solid black;
	}
	.item .left {
		float: left;
		display: block;
		max-width: 80%;
		width: 80%;
	}
	.item .left .url {
		font-size: .9em;
		display: inline-block;
		border:0px;
		outline: none;
	}
	.item .left .title {
		font-weight: bold;
		display: inline-block;
		position: relative;
		border:0px;
				outline: none;
	}
	.item .left .title:after {
		content: " - ";
	}
	.item .left .description-container {
		display: inline;
	}
	.item .left .description {
		position: relative;
		display: inline-block;
		left: 0;
		border:0px;
		outline: none;
	}
	.item .left .category {
		position: relative;
		display: inline-block;
		left: 0;
		border:0px;
		outline: none;

		color: rgb(140, 130, 130);
		font-size: 10px;
	}
	.item .left .date {
		color: rgb(140, 130, 130);
	}

	.item .right {
		color: rgba(0,0,0,.6);
		float: right;
		display: inline-block;
		max-width: 20%;
		text-align: right;
	}