
	.item .tools{
		-moz-box-sizing: padding-box;
		z-index: 10000;
		padding: 5px 5px 4px;
		width: 100%;
		display: none;
	}
	.item.selected .tools{
		display: block;
	}

	.item .tools .toolbar{
		text-align: right;
	}
	.item .tools .links {
		display: inline-block;
		background-color: rgb(246, 246, 239);
	}

/* toolsoutput */

	.item .tools .tool {
		padding: 40px;
		padding-top: 20px;
		padding-bottom: 0px;
		opacity: .8;
	}
	.item .tools a {
		text-decoration: none;
		font-weight: none;
		font-size: .9em;
	}
	.item .tools a:empty,
	.item .tools div:empty,
	.item .tools span:empty {
		display: none;
	}
	.item .tools .tool-text {
		max-height: 16px;
		overflow: hidden;
	}
	.item .tools .tool-entry {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding: 7px;
	}