@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

	#ODPExtension-toolbarbutton-sisters-categories[nocategories="false"]{
		list-style-image: url("images/sisters-categories.png");
	}
	#ODPExtension-toolbarbutton-sisters-categories[nocategories="true"]{
		list-style-image: url("images/sisters-categories-disabled.png");
	}

	#urlbar-icons > #ODPExtension-toolbarbutton-sisters-categories[collapsed="true"]
	{
		display:none !important;
	}

	#urlbar-icons > #ODPExtension-toolbarbutton-sisters-categories
	{
		visibility:visible !important;
	}
