#ODPExtension-extension-icon {
	list-style-image: url("img/nada.png");
}
#ODPExtension-extension-icon[status="nada"] {
	list-style-image: url("img/nada.png");
}
#ODPExtension-extension-icon[status="nada-frameset"] {
	list-style-image: url("img/nada-frameset.png");
}
#ODPExtension-extension-icon[status="private"] {
	list-style-image: url("img/nada-private.png");
}
#ODPExtension-extension-icon[status="private-frameset"] {
	list-style-image: url("img/nada-private.png");
}
#ODPExtension-extension-icon[status="disabled"] {
	list-style-image: url("img/disabled.png");
}
#ODPExtension-extension-icon[status="disabled-frameset"] {
	list-style-image: url("img/disabled.png");
}
#ODPExtension-extension-icon[status="error"] {
	list-style-image: url("img/error.png");
}
#ODPExtension-extension-icon[status="error-frameset"] {
	list-style-image: url("img/error.png");
}
#ODPExtension-extension-icon[status="listed"] {
	list-style-image: url("img/listed.png");
}
#ODPExtension-extension-icon[status="listed-frameset"] {
	list-style-image: url("img/listed-frameset.png");
}
#ODPExtension-extension-icon[status="listed-domain-uri"] {
	list-style-image: url("img/listed-domain-uri.png");
}
#ODPExtension-extension-icon[status="listed-domain-uri-frameset"] {
	list-style-image: url("img/listed-domain-uri-frameset.png");
}
#ODPExtension-extension-icon[status="listed-other-uri"] {
	list-style-image: url("img/listed-other-uri.png");
}
#ODPExtension-extension-icon[status="listed-other-uri-frameset"] {
	list-style-image: url("img/listed-other-uri-frameset.png");
}
#ODPExtension-extension-icon[status="loading"] {
	list-style-image: url("img/loading.png");
}
#ODPExtension-extension-icon[status="loading-frameset"] {
	list-style-image: url("img/loading.png");
}