/*
LEYEND:
header : is the container that holds, the title, description, urls and possibles icons for the site. The focused site in the "informative panel"
related : the list of categories and other uris related to the focused site. Sites from the same domain, but maybe not from the same subdomain.
*/
/* containers */
/*the real popup*/
#ODPExtension-panel {
	-moz-appearance: none !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	word-wrap: break-word !important;
	background-color: transparent !important;
	position: fixed !important;
}
/*the container of the data and UI of the popup*/
#ODPExtension-panel-container {
	-moz-appearance: none !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	word-wrap: break-word !important;
}
/*the container of the header and realted*/
#ODPExtension-panel-subcontainer {
	background-color: white !important;
	font-family: arial, sans-serif;
	font-size: 11px;
	color: black;
	word-wrap: break-word !important;
	padding: 0px !important;
	margin: 0px !important;
	border-left: #666666 solid 3px;
	border-top: #666666 solid 1px;
	border-bottom: #666666 solid 2px;
	border-right: #666666 solid 1px;
	border-radius: 1px 14px;
	width: 350px;
}
#ODPExtension-panel-subcontainer[listed="listed"] {
	border-left: #669933 solid 3px;
	border-bottom: #669933 solid 2px;
}
#ODPExtension-panel-subcontainer[listed="listed-domain-uri"] {
	border-left: #626CAF solid 3px;
	border-bottom: #626CAF solid 2px;
}
#ODPExtension-panel-subcontainer[listed="listed-other-uri"] {
	border-left: #666666 solid 3px;
	border-bottom: #666666 solid 2px;
}
#ODPExtension-panel-subcontainer[listed="listed"] > #ODPExtension-panel-header {
	border-bottom-color: #669933;
}
#ODPExtension-panel-subcontainer[listed="listed-domain-uri"] > #ODPExtension-panel-header{
	border-bottom-color: #626CAF;
}
#ODPExtension-panel-subcontainer[listed="listed-other-uri"] > #ODPExtension-panel-header{
	border-bottom-color: #666666;
}
/* the header or focused site : title, description, uri*/
/*container*/
#ODPExtension-panel-header {
	padding: 3px;
	padding-top: 0px;
	padding-bottom: 1px;
	border-bottom: 1px solid  #333;
/* should be perfect :P*/
}
/*title*/
#ODPExtension-panel-header-title {
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer !important;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}
#ODPExtension-panel-header-title[listed="listed"] {
	color: #006600;
}
#ODPExtension-panel-header-title[listed="listed-domain-uri"] {
	color: #626CAF;
}
#ODPExtension-panel-header-title[listed="listed-other-uri"] {
	color: #666666;
}
/* the type of the site*/
#ODPExtension-panel-header-title[type="RSS-0"] {
	background: url('img/rss.png') top left no-repeat;
	padding-left: 14px;
}
#ODPExtension-panel-header-title[type="Atom-0"] {
	background: url('img/atom.png') top left no-repeat;
	padding-left: 15px;
}
#ODPExtension-panel-header-title[type="PDF-0"] {
	background: url('img/pdf.png') top left no-repeat;
	padding-left: 15px;
}
/*cool or not*/
#ODPExtension-panel-header-title[type="RSS-1"] {
	background: url('img/rss-cool.png') top left no-repeat;
	padding-left: 28px;
}
#ODPExtension-panel-header-title[type="Atom-1"] {
	background: url('img/atom-cool.png') top left no-repeat;
	padding-left: 28px;
}
#ODPExtension-panel-header-title[type="PDF-1"] {
	background: url('img/pdf-cool.png') top left no-repeat;
	padding-left: 28px;
}
#ODPExtension-panel-header-title[type="-1"] {
	background: url('img/cool.png') top left no-repeat;
	padding-left: 15px;
}
/*description*/
#ODPExtension-panel-header-description {
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer !important;
	color: #333333;
	font-size: 12px;
}
/*uri*/
#ODPExtension-panel-header-uri {
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer !important;
	color: black;
}
/* the related or "the other listed uris"*/
/*container*/
#ODPExtension-panel-related {
	padding: 0px;
}
#ODPExtension-panel-related-titles > description,
#ODPExtension-panel-related-uris > description,
#ODPExtension-panel-related-categories > description {
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
	margin: 0px;
	border: 0px;
	cursor: pointer !important;
	color: #000000;
}
#ODPExtension-panel-related-categories[data-align="right"] > description {
	text-align: right;
}
#ODPExtension-panel-related-categories[data-align="left"] > description {
	text-align: left;
}
/* the type of the site*/
#ODPExtension-panel-related-titles > description[type="RSS-0"],
#ODPExtension-panel-related-uris > description[type="RSS-0"],
#ODPExtension-panel-related-categories > description[type="RSS-0"] {
	background: url('img/rss-margin.png') top left no-repeat;
	padding-left: 17px;
}
#ODPExtension-panel-related-titles > description[type="Atom-0"],
#ODPExtension-panel-related-uris > description[type="Atom-0"],
#ODPExtension-panel-related-categories > description[type="Atom-0"] {
	background: url('img/atom-margin.png') top left no-repeat;
	padding-left: 18px;
}
#ODPExtension-panel-related-titles > description[type="PDF-0"],
#ODPExtension-panel-related-uris > description[type="PDF-0"],
#ODPExtension-panel-related-categories > description[type="PDF-0"] {
	background: url('img/pdf-margin.png') top left no-repeat;
	padding-left: 18px;
}
/*cool or not*/
#ODPExtension-panel-related-titles > description[type="RSS-1"],
#ODPExtension-panel-related-uris > description[type="RSS-1"],
#ODPExtension-panel-related-categories > description[type="RSS-1"] {
	background: url('img/rss-cool-margin.png') top left no-repeat;
	padding-left: 31px;
}
#ODPExtension-panel-related-titles > description[type="Atom-1"],
#ODPExtension-panel-related-uris > description[type="Atom-1"],
#ODPExtension-panel-related-categories > description[type="Atom-1"] {
	background: url('img/atom-cool-margin.png') top left no-repeat;
	padding-left: 31px;
}
#ODPExtension-panel-related-titles > description[type="PDF-1"],
#ODPExtension-panel-related-uris > description[type="PDF-1"],
#ODPExtension-panel-related-categories > description[type="PDF-1"] {
	background: url('img/pdf-cool-margin.png') top left no-repeat;
	padding-left: 31px;
}
#ODPExtension-panel-related-titles > description[type="-1"],
#ODPExtension-panel-related-uris > description[type="-1"],
#ODPExtension-panel-related-categories > description[type="-1"] {
	background: url('img/cool-margin.png') top left no-repeat;
	padding-left: 18px;
}
#ODPExtension-panel-related-titles > description:hover,
#ODPExtension-panel-related-uris > description:hover,
#ODPExtension-panel-related-categories > description:hover {
	background-color: Highlight !important;
	color: HighlightText;
	overflow: hidden;
}
#ODPExtension-panel-related-titles > description[selected="true"],
#ODPExtension-panel-related-uris > description[selected="true"],
#ODPExtension-panel-related-categories > description[selected="true"] {
	font-weight: bold;
	background-color: #f2f2f2;
}



/* the move panel button and hide show popup */
#ODPExtension-panel-move {
	-moz-appearance: none !important;
	margin: 0px !important;
	border: 0px !important;
	padding: 13px !important;
	cursor: pointer !important;
	margin-top: -2px;
	background-image: url("img/buttons.png");
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom-left-radius: 3px;
}
#ODPExtension-panel-move[status="opened"] {
	background-image: url("img/buttons-open.png");
}
#ODPExtension-panel-move[status="opened"]:hover {
	background-image: url("img/buttons-open-hover.png");
}
#ODPExtension-panel-move[status="closed"] {
	background-image: url("img/buttons-closed.png");
}
#ODPExtension-panel-move[status="closed"]:hover {
	background-image: url("img/buttons-closed-hover.png");
}
#ODPExtension-panel-move[listed="listed"] {
	background-color: #669933  !important;
}
#ODPExtension-panel-move[listed="listed-domain-uri"] {
	background-color: #626CAF !important;
}
#ODPExtension-panel-move[listed="listed-other-uri"] {
	background-color: #666666 !important;
}