#ODPExtension-toolbarbutton-odp-url-notes-update {
	list-style-image: url("img/update.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-unreview {
	list-style-image: url("img/unreview.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-delete {
	list-style-image: url("img/delete.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-copy-publish {
	list-style-image: url("img/copy-publish.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-copy-unreview {
	list-style-image: url("img/copy-unreview.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-move-publish {
	list-style-image: url("img/move-publish.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-move-unreview {
	list-style-image: url("img/move-unreview.png");
}
#ODPExtension-toolbarbutton-odp-url-notes-notes {
	list-style-image: url("img/notes.png");
}