

/*

	LEYEND:
		header : is the container that holds, the title, description, urls and possibles icons for the site. The focused site in the "informative panel"
		related : the list of categories and other uris related to the focused site. Sites from the same domain, but maybe not from the same subdomain.

*/
/* containers */
	/*the real popup*/
		#ODPExtension-panel
		{
			-moz-appearance: none !important;
			padding:0px !important;
			margin:0px !important;
			border:0px !important;
			word-wrap:break-word !important;
			background-color:transparent !important;
		}
	/*the container of the data and UI of the popup*/
		#ODPExtension-panel-container
		{
			-moz-appearance: none !important;
			padding:0px !important;
			margin:0px !important;
			border:0px !important;
			word-wrap:break-word !important;
		}

	/*the container of the header and realted*/
		#ODPExtension-panel-subcontainer
		{
			background-color:white !important;
			font-family:arial, sans-serif;
			font-size:11px;
			color:black;
			word-wrap:break-word !important;

			padding:0px !important;
			margin:0px !important;

			border-left:#666666 solid 3px;
			border-top:#666666 solid 1px;
			border-bottom:#666666 solid 2px;
			border-right:#666666 solid 1px;

			border-radius: 1px 14px;
		}
		#ODPExtension-panel-subcontainer[listed="listed"]
		{
			border-left:#669933 solid 3px;
			border-bottom:#669933 solid 2px;
		}
		#ODPExtension-panel-subcontainer[listed="listed-domain-uri"]
		{
			border-left:#626CAF solid 3px;
			border-bottom:#626CAF solid 2px;
		}
		#ODPExtension-panel-subcontainer[listed="listed-other-uri"]
		{
			border-left:#666666 solid 3px;
			border-bottom:#666666 solid 2px;
		}

/* the header or focused site : title, description, uri*/

		/*container*/
			#ODPExtension-panel-header
			{
				padding:3px;
				padding-top:0px;
				padding-bottom:1px;/* should be perfect :P*/
			}
		/*title*/
			#ODPExtension-panel-header-title
			{
				border:0px;
				padding:0px;
				margin:0px;

				cursor:pointer !important;

				color:#000000;
				font-weight:bold;
			}
			#ODPExtension-panel-header-title[listed="listed"]{color:#006600;}
			#ODPExtension-panel-header-title[listed="listed-domain-uri"]{color:#626CAF;}
			#ODPExtension-panel-header-title[listed="listed-other-uri"]{color:#666666;}

			/* the type of the site*/
			#ODPExtension-panel-header-title[type="RSS-"]
			{
				background:url('img/rss.png') top left no-repeat;
				padding-left:14px;
			}
			#ODPExtension-panel-header-title[type="Atom-"]
			{
				background:url('img/atom.png') top left no-repeat;
				padding-left:15px;
			}
			#ODPExtension-panel-header-title[type="PDF-"]
			{
				background:url('img/pdf.png') top left no-repeat;
				padding-left:15px;
			}
			/*cool or not*/
			#ODPExtension-panel-header-title[type="RSS-Y"]
			{
				background:url('img/rss-cool.png') top left no-repeat;
				padding-left:28px;
			}
			#ODPExtension-panel-header-title[type="Atom-Y"]
			{
				background:url('img/atom-cool.png') top left no-repeat;
				padding-left:28px;
			}
			#ODPExtension-panel-header-title[type="PDF-Y"]
			{
				background:url('img/pdf-cool.png') top left no-repeat;
				padding-left:28px;
			}
			#ODPExtension-panel-header-title[type="-Y"]
			{
				background:url('img/cool.png') top left no-repeat;
				padding-left:15px;
			}
		/*description*/
			#ODPExtension-panel-header-description
			{
				border:0px;
				padding:0px;
				margin:0px;

				cursor:pointer !important;

				color:#333333;
			}
		/*uri*/
			#ODPExtension-panel-header-uri
			{
				border:0px;
				padding:0px;
				margin:0px;

				cursor:pointer !important;

				color:#000000;
			}

/* the related or "the other listed uris"*/

	/*container*/
		#ODPExtension-panel-related
		{
			padding:0px;
		}
		#ODPExtension-panel-related-titles > description,
		#ODPExtension-panel-related-uris > description,
		#ODPExtension-panel-related-categories > description
		{
			padding:0px;
			padding-left:3px;
			padding-right:3px;
			margin:0px;
			border:0px;

			cursor:pointer !important;

			color:#000000;
		}
		#ODPExtension-panel-related-categories[data-align="right"] > description
		{
			text-align:right;
		}
		#ODPExtension-panel-related-categories[data-align="left"] > description
		{
			text-align:left;
		}
		/* the type of the site*/
		#ODPExtension-panel-related-titles > description[type="RSS-"],
		#ODPExtension-panel-related-uris > description[type="RSS-"],
		#ODPExtension-panel-related-categories > description[type="RSS-"]
		{
			background:url('img/rss-margin.png') top left no-repeat;
			padding-left:17px;
		}
		#ODPExtension-panel-related-titles > description[type="Atom-"],
		#ODPExtension-panel-related-uris > description[type="Atom-"],
		#ODPExtension-panel-related-categories > description[type="Atom-"]
		{
			background:url('img/atom-margin.png') top left no-repeat;
			padding-left:18px;
		}
		#ODPExtension-panel-related-titles > description[type="PDF-"],
		#ODPExtension-panel-related-uris > description[type="PDF-"],
		#ODPExtension-panel-related-categories > description[type="PDF-"]
		{
			background:url('img/pdf-margin.png') top left no-repeat;
			padding-left:18px;
		}
		/*cool or not*/
		#ODPExtension-panel-related-titles > description[type="RSS-Y"],
		#ODPExtension-panel-related-uris > description[type="RSS-Y"],
		#ODPExtension-panel-related-categories > description[type="RSS-Y"]
		{
			background:url('img/rss-cool-margin.png') top left no-repeat;
			padding-left:31px;
		}
		#ODPExtension-panel-related-titles > description[type="Atom-Y"],
		#ODPExtension-panel-related-uris > description[type="Atom-Y"],
		#ODPExtension-panel-related-categories > description[type="Atom-Y"]
		{
			background:url('img/atom-cool-margin.png') top left no-repeat;
			padding-left:31px;
		}
		#ODPExtension-panel-related-titles > description[type="PDF-Y"],
		#ODPExtension-panel-related-uris > description[type="PDF-Y"],
		#ODPExtension-panel-related-categories > description[type="PDF-Y"]
		{
			background:url('img/pdf-cool-margin.png') top left no-repeat;
			padding-left:31px;
		}
		#ODPExtension-panel-related-titles > description[type="-Y"],
		#ODPExtension-panel-related-uris > description[type="-Y"],
		#ODPExtension-panel-related-categories > description[type="-Y"]
		{
			background:url('img/cool-margin.png') top left no-repeat;
			padding-left:18px;
		}

		#ODPExtension-panel-related-titles > description:hover,
		#ODPExtension-panel-related-uris > description:hover,
		#ODPExtension-panel-related-categories > description:hover
		{
			background-color:Highlight !important;
			color: HighlightText;
			border-bottom-left-radius: 11px;
			border-top-right-radius: 13px;
		}

		#ODPExtension-panel-related-titles > description[selected="true"],
		#ODPExtension-panel-related-uris > description[selected="true"],
		#ODPExtension-panel-related-categories > description[selected="true"]
		{
			font-weight:bold;
			background-color:#f2f2f2;
			border-bottom-left-radius: 11px;
			border-top-right-radius: 13px;
		}
		/*
			this is not working probably is bad written

			#ODPExtension-panel-related-titles > description:last-child,
			#ODPExtension-panel-related-uris > description:last-child,
			#ODPExtension-panel-related-categories > description:last-child
			{
				border-radius-bottomleft:14px;
			}
		*/

/* the move panel button and hide show popup */

		#ODPExtension-panel-move
		{
			list-style-image:url("img/buttons.png") !important;
			-moz-image-region: rect(16px 32px 32px 16px);
			margin:0px !important;
			border:0px !important;
			/*-moz-box-pack: center !important;*/
			/*display: block !important;*/
			padding: 2px !important;
			cursor:pointer !important;
			-moz-box-flex: 0 !important;
			overflow:hidden !important;
		}
		#ODPExtension-panel-move[status="opened"]{
		  -moz-image-region: rect(16px 16px 32px 0px);
		}
		#ODPExtension-panel-move[status="opened"]:hover{
		  -moz-image-region: rect(0px 16px 16px 0px);
		}
		#ODPExtension-panel-move[status="closed"]{
		  -moz-image-region: rect(16px 32px 32px 16px);
		}
		#ODPExtension-panel-move[status="closed"]:hover{
		  -moz-image-region: rect(0px 32px 16px 16px);
		}
		#ODPExtension-panel-move[listed="listed"]
		{
			background-color:#669933  !important;
		}
		#ODPExtension-panel-move[listed="listed-domain-uri"]
		{
			background-color:#626CAF !important;
		}
		#ODPExtension-panel-move[listed="listed-other-uri"]
		{
			background-color:#666666 !important;
		}